
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

p.um{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
p.dois{
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 22px;
}
p.tres{
    font-family: "Comic Neue", serif;
    color: blue;
    font-size: 20px;
}
p.quatro{
    color: yellow;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}